apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt
spec:
  acme:
    # PROD ACME endpoint by default; dev overlay switches to staging
    server: https://acme-v02.api.letsencrypt.org/directory
    email: admin@example.com              # TODO: set real email
    privateKeySecretRef:
      name: letsencrypt-account-key
    solvers:
      - http01:
          ingress:
            class: nginx
