{{- $namespace := .Release.Namespace -}}
{{- range $path, $bytes := .Files.Glob "alerts/*.yaml" }}
{{- $name := $path | base | trimSuffix ".yaml" }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-alert-{{ $name }}
  namespace: {{ $namespace }}
  labels:
    grafana_alert: "1"
data:
  {{ $name }}.yaml: |-
{{ $.Files.Get $path | indent 4 }}
{{- end }}
