datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: VictoriaMetrics
        uid: victoria-metrics
        type: prometheus
        url: http://vmc-victoria-metrics-cluster-vmselect.monitoring.svc.cluster.local:8481/select/0/prometheus/
        access: proxy
        isDefault: true
        jsonData:
          timeInterval: 30s
      - name: VictoriaLogs
        uid: victoria-logs
        type: victoriametrics-logs-datasource
        url: http://vlc-victoria-logs-cluster-vlselect.monitoring.svc.cluster.local:9471/
        access: proxy
        jsonData:
          maxLines: 1000
