sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
    labelValue: "1"
    folderAnnotation: grafana_folder
    searchNamespace: ALL
  alerts:
    enabled: true
    label: grafana_alert
    labelValue: "1"
    searchNamespace: ALL
