# Grafana PROD overrides
replicas: 2
resources:
  requests:
    cpu: 250m
    memory: 256Mi
  limits:
    memory: 512Mi

persistence:
  size: 10Gi

ingress:
  hosts:
    - grafana.alloysoftware.com
  tls:
    - secretName: grafana-tls
      hosts:
        - grafana.alloysoftware.com

grafana.ini:
  server:
    root_url: https://grafana.alloysoftware.com
